<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程增加</title>
</head>
<body>
	<form action="{:url('save')}" method="post">
		<label for="name">名称：</label>
		<input type="name" name="name" />
		
		{volist name="Course->Klasses()->select()" id="klass"}
            <input type="checkbox" name="klass_id[]" id="klass_id_{$klass->id}" value="{$klass->id}" />
            <label for="klass_id_{$klass->id}">{$klass->name}</label>
        {/volist}

		<button type="submit">提交</button>
	</form>
</body>
</html>