<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教师管理</title>
</head>
<body>
	<table>
		<tr>
			<td>序号</td>
			<td>姓名</td>
			<td>性别</td>
			<td>邮箱</td>
			<td>用户名</td>
		</tr>
		{volist name="teachers" id="teacher" key="key"}
		<tr>
			<td>{$key}</td>
			<td>{$teacher->getData('name')}</td>
			<td>{eq name='$teacher->getData("sex")' value='0'}男{else /}女{/eq}</td>
			<td>{$teacher->getData('email')}</td>
			<td>{$teacher->getData('username')}</td>
		</tr>
		{/volist}
	</table>
</body>
</html>